

@model MyAkademi.Dapper.Dtos.UpdateProjectDto
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <br />
    <br />

    <form method="post">

        <label>Proje ID</label>
        <input type="text" asp-for="ProjectId" class="form-control" />
        <br />

        <label>Proje Adı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />

        <label>Proje Fiyatı</label>
        <input type="text" asp-for="Price" class="form-control" />
        <br />

        <label>Proje Tamamlanma Süresi</label>
        <input type="text" asp-for="CompleteDay" class="form-control" />
        <br />

        <label>Proje Açıklaması</label>
        <input type="text" asp-for="Description" class="form-control" />
        <br />

        <label>Proje Kategori</label>
        <input type="text" asp-for="ProjectCategory" class="form-control" />
        <br />
        <button class="btn btn-primary">Projeyi Ekle</button>
    </form>

</div>